.ol-map {
  min-width: 600px;
  min-height: 500px;
  margin: 50px;
  height: 500px;
  width: "100%";
}
.ol-control {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  padding: 2px;
}
.ol-full-screen {
  top: 0.5em;
  right: 0.7em;

}
.ol-full-screen-true {
  display: block;
  font-size: 20px; /* Adjust button size */
  width: 30px; /* Adjust button width */
  height: 30px; /* Adjust button height */
}

.ol-full-screen-false {
  display: block;
  font-size: 20px; /* Adjust button size */
  width: 30px; /* Adjust button width */
  height: 30px; /* Adjust button height */
}
.ol-zoom {
  display: block;
 top:40px;
 right:10px
  
}
.ol-zoom-in{
  width: 30px; /* Adjust button width */
  height: 30px; 
}
.ol-zoom-out {
    display: block;
    width: 30px; /* Adjust button width */
    height: 30px; 
 
}
